html{
    box-sizing: border-box; /* Hack para Box Model*/
}
*, *:before, *:after {
    box-sizing: inherit;
} /* Con esto, el paddig NO modifica ya el width: px */
body{
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    /* Cambiar color de fondo degradado */
} 

/**  D E C O R A C I O N   D E   B A R R A   D E   N A V E G A C I O N **/
.container{
    width: 80%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.bg-header{
    /* background-imagen: url(../assets/images/bg-header.jpg); */
    background-repeat: no-repeat; /* Para NO repetir imagen al mayor escala de pantalla*/
    background-position: center; /* Posicion dela imagen de fondo*/
    background-size: cover; /* Tomar todo  el ancho y NO se corte*/
    height: 18.75em;
}

.bg-navbar{
    background-color: rgb(0 0 0 /70%);
    padding: 1.5em 0;
}

.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* opcion 1-> con flex en row: justify-content: center */
}

.navbar-nav{
    background-color: rgb(0 0 0 /75%);
    padding: 1em;
    border-radius: .3em;

}

.nav-link{
    color: white;
    font-size: 1em;
    padding: .5em;
    text-decoration: none;
    display: inline-block;
}
.nav-link:hover{
    background-color: white;
    color: black;
    border-radius: .5em;
}